* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #171717;
  color: #fff;
  line-height: 1.6;
  box-sizing: border-box;
}
span {
  color: #bf3fff;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.for-line {
  position: relative;
}
.for-line::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -111;
}
.header {
  padding: 3rem;
  position: relative;
  top: 0;
  z-index: 999;
  background-color: #171717;
}
.header::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -111;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.5rem;
  align-items: center;
  padding: 0 3rem;
  margin-left: 5rem;
  font-size: 1.4rem;
  background-color: #171717;
}
.icon-mob-close {
  font-size: 1.5rem;
}
.mob-nav ion-icon {
  font-size: 2rem; /* make it smaller */
  color: white;
}
/* Mobile Menu */
/*/////////////////*/
.mob-nav {
  display: none; /*hides on desktop*/
  background: none;
  border: none;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}
.main-nav-list a:active,
.main-nav-list a:hover {
  color: #9905e3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* /////Just trying underline effect////
/////////////////////////////////////// */

/* .main-nav-list a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-bottom: 4px;
}
.main-nav-list a::after {
  content: "";
  background-color: #fff;
  width: fit-content;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  position: absolute;
}
.main-nav-list a:hover::after {
  width: 100%;
} */

/*/// Hero Section/////
///////////////////*/
.hero-section {
  width: 100%;
  padding: 4rem 0;
  margin: 0 auto;
}

.hero {
  padding: 0 4rem;
  position: relative;
}
.hero-paper {
  width: 60vh;
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: 999;
  animation: floatPaper 4s ease-in-out infinite;
}
@keyframes floatPaper {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* .hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
.hero-des {
  font-size: 6rem;
  color: #9905e3;
  font-weight: 600;
}
.hero-title {
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.1rem rgba(153, 5, 227, 0.658);
}
.title-text-box {
  display: flex;
  gap: 1.5rem;
}
.text-title {
  font-size: 1.8rem;
  font-family: sans-serif;
}
.title-text-box p:first-child {
  border-right: none;
  border-right: 0.1rem solid #9905e3;
  padding-right: 1.5rem;
}
.title-btn-box {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  padding: 2rem 0;
}
.title-btn {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  border: 0.1rem solid #9905e3;
  padding: 0.1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in;
}
.title-btn:hover,
.title-btn:active {
  box-shadow: 0 0 0.8rem rgba(153, 5, 227, 0.658);
}
/*/// About Section/////
///////////////////*/

.about-section {
  padding: 3rem 0;
}

.about-head {
  margin-right: 5rem;
  padding: 0 3rem;
  font-size: 5rem;
  width: fit-content;
  margin-left: auto;
  background-color: #171717;
  text-shadow: 0.2rem 0.2rem 0rem rgba(153, 5, 227, 0.658);
}
.about-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
}
.about-text-box {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-top: 6rem;
}
.about-text-head {
  font-size: 2rem;
}
.about-text {
  font-size: 1.6rem;
  font-weight: 300;
}
.secondary-about-head {
  font-size: 3rem;
  margin: 5rem 0 2rem 0;
}
.bring-box {
  display: flex;
  gap: 8rem;
}
.bring-boxes {
  max-width: 20rem;
}
.bring-icon {
  height: 1.8rem;
  width: 1.8em;
}
.bring-box-head {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}
.bring-box-text {
  font-size: 1.2rem;
  font-family: sans-serif;
}

/*/// Service Section/////
///////////////////*/

.service-section {
  padding: 3rem 0;
  background-image: url(Images/vectorline.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 35% 65%;
}
.line-icon {
  height: 8rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-head {
  margin-left: 5rem;
  padding: 3rem;
  font-size: 5rem;
  width: fit-content;
  margin-right: auto;
  background-color: #171717;
  text-shadow: 0.2rem 0.2rem 0rem rgba(153, 5, 227, 0.658);
}
.service-box {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 10rem;
}
.single-service {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 24rem;
}
.service-icon {
  height: 1.4rem;
  width: 1.4rem;
}
.service-icon-box {
  background-color: #333333;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  border-radius: 0.8rem;
  display: flex; /*to center the content on div*/
  justify-content: center;
  align-items: center;
}
/* .service-icon-box::before {
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: #616161;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
} */
.service-box-head {
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0 rgb(153, 5, 227);
}
.service-box-text {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
}

/*/// Contact Section/////
///////////////////*/
.contact-section {
  padding: 4rem 0;
  position: relative;
}

.contact-head {
  margin-right: 5rem;
  padding: 0 3rem;
  font-size: 5rem;
  width: fit-content;
  margin-left: auto;
  background-color: #171717;
  text-shadow: 0.2rem 0.2rem 0rem rgba(153, 5, 227, 0.658);
}
.contact-section::before {
  content: "";
  height: 24rem;
  width: 24rem;
  background-color: #1b1b1b;
  top: 8rem;
  left: 0;
  position: absolute;
  border-bottom-right-radius: 50rem;
  z-index: -111;
  /* animation: divmove 4s ease-in-out infinite; */
}
/* @keyframes divmove {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
} */
.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  max-width: 60rem;
  margin-left: auto;
}
.intouch-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 24rem;
  padding: 0;
}
.contact-text {
  font-size: 5.2rem;
  font-weight: 800;
}
.contact-icons {
  display: flex;
  gap: 1.5rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.form {
  border: 0.1rem solid #9905e3;
  max-width: 24rem;
}
.form-box {
  display: grid;
  grid-template-columns: repeat(1fr);
  row-gap: 2.5rem;
  margin: 0 auto;
  padding: 1rem 2rem 3rem 2rem;
}

.equiry {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #d4d4d4;
}
.form-box-text {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid #9905e3e9;
  color: #d4d4d4d0;
  resize: vertical;
  font-family: sans-serif;
}
.form-box-text::placeholder {
  color: #d4d4d4;
}
textarea {
  min-height: 5rem;
}
.form-btn {
  font-size: 1.2rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #e2e2e2;
  background-color: #9905e3;
  transition: 0.2s ease-in-out;
}
.form-btn:hover {
  background: #aa04cf; /* brighter neon */
  box-shadow: 0 0 0.8rem rgba(208, 0, 255, 0.7);
  cursor: pointer;
}
.form-box-text:focus {
  box-shadow: 0 0 0.6rem rgba(160, 0, 255, 0.7);
}
.link-box {
  display: flex;
  gap: 1rem;
}
.link-text-first,
.link-text-second {
  font-size: 1.6rem;
}
.linkdn-icon {
  height: 2rem;
  width: 2rem;
}
.linkedin-link:link,
.linkedin-link:visited {
  text-decoration: none;
  color: #fff;
}
.linkedin-link:hover,
.linkedin-link:active {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark transparent */
  backdrop-filter: blur(6px); /* blur effect */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 5;
}
